body{
    margin: 0 ;
    padding: 0 ;

}

table, th, td {
    border: 1px solid blue ;
    border-collapse: collapse;
}
th, td{
    padding: 15px;
    background-color: aqua;
}
ul {
 list-style-type: none;
  margin: 0;
  padding: 0 ;
  overflow: hidden;
  background-color: #333333;
  
 
}
li{
  float:  left;
}

li a{
   display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
   
}