body{
    margin: 0;
    padding: 0;

}

table, th, td {
    border: 1px solid blue ;
    border-collapse: collapse;
}
th, td{
    padding: 15px;
    background-color: aqua;
}
ul li{
    margin: 0;
    padding: 0%;
   background-color: black;
   width: 100%;list-style: none;

}
li{
  float: left;
  color: white;

}
li a{
   display: block;
    color: white;
    padding: 20px;
}