body{
    margin: 20px ;
    padding: 0 ;

}

table, th, td {
    border: 1px solid blue ;
    border-collapse: collapse;
    
}
th, td{
    padding-right: 10px;
    background-color: yellow;
}
ul {
 list-style-type: none;
  margin: 0;
  padding: 0 ;
  overflow: hidden;
  background-color: #333333;
  text-align: center;

}
li{
  float:  left;
}

li a{
   display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    
   
}
.footer{
    background-color: black;
    color: white;
    padding: 45px;
}